.item {
  list-style-type: none;
  display: block;
  align-items: center;
  font-size: 32px;

  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border: solid 1px;
  border-radius: 5px;
}

.done {
  background-color: blanchedalmond;
}
